:root{
    --font-fmly: 'Raleway', sans-serif;
    --bg-clr: #F1F0F9;
    --font-clr: #9A9DAA;
}
*{
    font-family: var(--font-fmly);
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
    text-decoration: none;
}
/*body*****************************************/
body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    background-color: var(--bg-clr);
}
/*header***************************************/
header{
    width: 100vw;
    position: fixed;
    top: 0;
    background-color: var(--bg-clr);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem;
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.075);
}
.header-icons span, nav a{
    margin: 0 .3rem;
    color: var(--font-clr);
}
#new-in-link{
    font-weight: 600;
    color: black;
}
.header-icons{
    cursor: pointer;
    font-size: 1.2rem;
}
/*hover*/
.header-icons span:hover, nav a:hover{
    color: black;
    border-bottom: 1px rgba(24, 24, 24, 0.562) dashed;
}
/*hero***************************************/
/*img*/

/*check-boxes*/


/*footer***************************************/
footer{
    display: flex;
    padding: 3rem;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    color: rgba(110, 110, 255, 0.664);
}
.footer-lists li{
    margin-top: .3rem;
    font-family: sans-serif;
    cursor: pointer;
    color: rgb(177, 177, 177);
}
.footer-lists li::marker{
    content: "→  ";
    color: rgba(77, 77, 255, 0.5);
    font-weight: bold;
}
.footer-list-holders{
    --font-fmly:sans-serif;
    padding: 1rem;
    font-size: .8rem;
}
footer button{
    cursor: pointer;
    font-family: sans-serif;
    padding: .5rem;
    color: rgb(204, 204, 204);
    background-color: #32333E;
    transition: all .25s ease-in;
}
footer button:hover{
    transform: translateY(-5px);
    border-radius: 15px;
}
