:root{
    --font-fmly: 'Raleway', sans-serif;
    --bg-clr: #F1F0F9;
    --font-clr: #9A9DAA;
    --font-clr-dark-blue:rgb(81, 122, 255);
    --btn-bg-clr: #32333E;

    /*radio btn color*/
    --pink-radio-clr: #F29D9E;
    --orange-radio-clr: #F9BF7F;
    --blue-radio-clr: #4975CB;
    --soft-blue-radio-clr: #64CAF5;
}

*{
    font-family: var(--font-fmly);
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
    text-decoration: none;
}

/*main*****************************************/
main{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
/*card***********/
.card{
    margin: 1rem;
    display: flex;
    max-width: 45vw;
    align-items: center;
    justify-content: space-evenly;
    transition: all .3s ease-in-out;
}
.card:hover{
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33);
    background-color: white;
}
.card-info{
    padding: .5rem;
}
.card-price{
    color: var(--font-clr-dark-blue);
    font-weight: bold;
}
.card-title{
    margin: .6rem 0;
    font-weight: bold;
}
.card-button{
    width: 100%;
    background-color: transparent;
    color: #32333E;
    border: 1px solid #32333E;
}
.card-button:hover{
    background-color: #32333E;
    color: white;
}
.card-img-holder{
    padding: 1rem;
    background-color: white;
    display: inline-block;
}
.card-img-holder img{
    max-height: 250px;
    max-width: 45vw;
    object-fit: cover;
    transition: transform .3s ease-in-out;
}
.card-img-holder img:hover{
    transform: scale(1.1);
}
/*card***********/
/*main*****************************************/





/*body*****************************************/
body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    background-color: var(--bg-clr);
}
/*button*/
button{
    cursor: pointer;
    font-family: sans-serif;
    padding: .7rem;
    color: rgb(204, 204, 204);
    background-color: var(--btn-bg-clr);
    transition: all .25s ease-in;
}
button:hover{
    transform: translateY(-5px);
}
button:active{
    transform: scale(.92);
}
/*header***************************************/
header{
    max-height: 80px;
    width: 100vw;
    position: fixed;
    top: 0;
    background-color: var(--bg-clr);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem;
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.075);
}
.header-icons span, nav a{
    margin: 0 .3rem;
    color: var(--font-clr);
}
#new-in-link{
    font-weight: 600;
    color: black;
}
.header-icons{
    cursor: pointer;
    font-size: 1.2rem;
}
/*hover*/
.header-icons span:hover, nav a:hover{
    color: black;
    border-bottom: 1px rgba(24, 24, 24, 0.562) dashed;
}
/*hero***************************************/
.hero{
    min-height: 70vh;
    margin-top: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: white;
}
.hero-info button{
    box-shadow: 1px 3px 3px rgb(2, 2, 2);
}
/*img*/
#hero-img{
    max-width: 350px;
}
/*info*/
.hero-info{
    max-width: 300px;
    display: flex;
    gap: 1rem;
    flex-direction: column;
}
#hero-price{
    font-weight: bold;
    color: var(--font-clr-dark-blue);
}
#hero-title{
    --font-fmly:sans-serif;

}
/*radio*btns********/
.radio-btn-holder{
    display: flex;
    gap: .8rem;
}

/**/
#pink-radio-btn {
    appearance: none;
    margin: 0;
    color: var(--pink-radio-clr);
    font: inherit;
    background-color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border-radius: 50%;
    display: grid;
    place-content: center;
}
#orange-radio-btn {
    appearance: none;
    margin: 0;
    background-color: var(--orange-radio-clr);
    width: 1.15em;
    height: 1.15em;
    border-radius: 50%;
    display: grid;
    place-content: center;
}
#blue-radio-btn {
    appearance: none;
    margin: 0;
    background-color: var(--blue-radio-clr);
    width: 1.15em;
    height: 1.15em;
    border-radius: 50%;
    display: grid;
    place-content: center;
}
#soft-blu-radio-btn {
    appearance: none;
    margin: 0;
    background-color: var(--soft-blue-radio-clr);
    width: 1.15em;
    height: 1.15em;
    border-radius: 50%;
    display: grid;
    place-content: center;
}

/**/
input[type="radio"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    background-color: white;
}
  
input[type="radio"]:checked::before {
    transform: scale(1);
}
  
  
#pink-radio-btn:checked {
    outline: max(2px, 0.15em) solid var(--pink-radio-clr);
    outline-offset: max(2px, 0.15em);
}
#orange-radio-btn:checked {
    outline: max(2px, 0.15em) solid var(--orange-radio-clr);
    outline-offset: max(2px, 0.15em);
}
#blue-radio-btn:checked {
    outline: max(2px, 0.15em) solid var(--blue-radio-clr);
    outline-offset: max(2px, 0.15em);
}
#soft-blu-radio-btn:checked {
    outline: max(2px, 0.15em) solid var(--soft-blue-radio-clr);
    outline-offset: max(2px, 0.15em);
}
  
/*footer***************************************/
footer{
    display: flex;
    padding: 3rem;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    color: var(--font-clr-dark-blue);
}
.footer-lists li{
    margin-top: .3rem;
    font-family: sans-serif;
    cursor: pointer;
    color: rgb(64, 85, 117);
}
.footer-lists li::marker{
    content: "→  ";
    color: var(--font-clr-dark-blue);
    font-weight: bold;
}
.footer-list-holders{
    --font-fmly:sans-serif;
    padding: 1rem;
    font-size: .8rem;
}
footer button{
    cursor: pointer;
    font-family: sans-serif;
    padding: .5rem;
    color: rgb(233, 233, 233);
    background-color: var(--btn-bg-clr);
    transition: all .25s ease-in;
}
footer button:hover{
    transform: translateY(-5px);
    border-radius: 15px;
}
footer button:active{
    transform: scale(.9);
}

/*contact dev.*******************************/
.contact-links{
    padding: .5rem ;
    gap: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon-contact img{
    max-width: 25px;
}
